*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html{
    background-color: white;
}
body{
    position: relative;
    width: 1440px;
    height: 1000px;
    margin: 0 auto;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
.figura1{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.figura2{
    position: absolute;
    top: 550px;
    z-index: 1;
}
header{
    width: 100%;
    height: 860px;
}
header .navegacion{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 1;
}
.navegacion img{
    position: absolute;
    left: 10%;
}
.navegacion nav{
    position: absolute;
    right: 10%;
}
.navegacion nav a{
    font-size: 9px;
    font-weight: bold;
    margin-right: 20px;
    color: rgb(133, 133, 133);
}
.navegacion nav button{
    position: relative;
    width: 100px;
    height: 28px;
    font-size: 9.5px;
    font-weight: bold;
    background: transparent;
    border: 1px solid black;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    transition: .3s ease-in;
}
.navegacion button:hover{
    color: white;

}
.navegacion button:before{
    content: "";
    position: absolute;
    background-color: hsl(270, 9%, 17%);
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: .3s ease-in;
}
.navegacion button:hover:before{
    top:0;
}
header .portada{
    position: relative;
    height: 800px;
}
.fondo{
    position: relative;
    width: 100%;
    height: 660px;
    display: flex;
    align-items: center;
    background-color: hsl(256, 26%, 20%);
    color: white;
}
.presentacion{
    position: absolute;
    width: 600px;
    left: 10%;
}
.linea1{
    width: 100px;
    height: 1px;
    margin-bottom: 60px;
    background-color: rgb(158, 158, 158);
}
.presentacion h1{
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    font-weight: 400;
}
.presentacion button{
    position: relative;
    width: 100px;
    height: 28px;
    margin-top: 20px;
    font-size: 9.5px;
    font-weight: bold;
    background: transparent;
    border: 1px solid white;
    color: white;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    transition: .3s ease-in;
}
.presentacion button:hover{
    color: black;

}
.presentacion button:before{
    content: "";
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: .3s ease-in;
}
.presentacion button:hover:before{
    top:0;
}
.portada img{
    position: absolute;
    right: 10%;
    bottom: 0px;
}
section{
    width: 1152px;
    margin: auto;
}
section .linea2{
    display: none;
}
section .superior{
    margin-top: 100px;
}
.superior h1{
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 60px;
}
.superior ul{
    display: flex;
    margin-bottom: 160px;
}
.superior h3{
    margin: 25px 0;
    font-size: 25px;
    font-weight: 400;
    font-family: 'DM Serif Display', serif;
}
.superior p{
    color: rgb(133, 133, 133);
}
.inferior{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: hsl(270, 9%, 17%);
    margin-bottom: 160px;
}
.inferior img{
    position: absolute;
    top: 0;
    right: 0;
}
.inferior h2{
    width: 400px;
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    font-weight: 400;
    color: white;
    margin-left: 10%;
}
.inferior button{
    position: absolute;
    right: 10%;
    width: 100px;
    height: 28px;
    font-size: 9.5px;
    font-weight: bold;
    background: transparent;
    border: 1px solid white;
    color: white;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    transition: .3s ease-in; 
}

.inferior button:hover{
    color: black;

}
.inferior button:before{
    content: "";
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: .3s ease-in;
}
.inferior button:hover:before{
    top:0;
}
footer{
    position: relative;
    background-color: rgba(235, 235, 235, 0.301);
}
footer .linea3{
    position: absolute;
}
footer .redes{
    position: relative;
    width: 1152px;
    height: 60px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(133, 133, 133);
    z-index: 1;
}
footer .social{
    position: absolute;
    right: 0;
}
.social img{
    margin-left: 10px;
}
footer .otros{
    width: 1152px;
    margin: auto;
    z-index: 1;
}
.otros ul{
    display: flex;
}
.otros li{
    display: flex;
    flex-direction: column;
    font-size: 9px;
    font-weight: bold;
    margin-right: 200px;
    z-index: 1;
}
.otros p{
    margin-bottom: 30px;
    color:rgb(133, 133, 133);
}
.otros a{
    color: hsl(270, 9%, 17%);
    margin-bottom: 15px;
}
@media screen and (max-width: 414px){
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }
    html{
        background-color: white;
    }
    body{
        position: relative;
        width: 100vw;
        height: auto;
        font-family: 'Karla', sans-serif;
        font-size: 16px;
    }
    .figura1{
        display: none;
    }
    .figura2{
        display: none;
    }
    header{
        width: 100%;
        height: 1060px;
    }
    header .navegacion{
        position: relative;
        width: 100%;
        height: 60px;
        background-color: white;
        display: flex;
        align-items: center;
    }
    .navegacion img{
        position: absolute;
        left: 5px;
    }
    .navegacion nav{
        position: absolute;
        right: 5px;
    }
    .navegacion nav a{
        font-size: 9px;
        font-weight: bold;
        margin-right: 8px;
        color: rgb(133, 133, 133);
    }
    .navegacion nav button{
        width: 80px;
        height: 28px;
        font-size: 8px;
        font-weight: bold;
        background: transparent;
        border: 1px solid black;
    }
    header .portada{
        position: relative;
        width: 100%;
        height: auto;
    }
    .portada img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .fondo{
        position: relative;
        top: 498.33px;
        width: 100%;
        height: 500px;
        background-color: hsl(256, 26%, 20%);
    }
    .presentacion{
        position: absolute;
        width: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .linea1{
        display: none;
    }
    .presentacion h1{
        font-family: 'DM Serif Display', serif;
        font-size: 50px;
        font-weight: 400;
    }
    .presentacion button{
        width: 100px;
        height: 28px;
        margin-top: 20px;
        font-size: 9.5px;
        font-weight: bold;
        background: transparent;
        border: 1px solid white;
        color: white; 
    }
    section{
        width: 100vw;
    }
    section .linea2{
        width: 100px;
        height: 1px;
        margin-top: 100px;
        margin-left: 157px;
        margin-bottom: 20px;
        background-color: rgb(158, 158, 158);   
    }
    .superior h1{
        font-family: 'DM Serif Display', serif;
        font-size: 50px;
        font-weight: 400;
        margin-bottom: 60px;
        text-align: center;
    }
    .superior ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 160px;
    }
    .superior li{
        margin-bottom: 50px;
    }
    .superior h3{
        margin: 25px 0;
        font-size: 25px;
        font-weight: 400;
        font-family: 'DM Serif Display', serif;
    }
    .superior p{
        color: rgb(133, 133, 133);
    }
    .inferior{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 250px;
        background-color: hsl(270, 9%, 17%);
        margin-bottom: 160px;
    }
    .inferior img{
        position: absolute;
        top: 0;
        right: 0;
    }
    .inferior h2{
        width: 400px;
        font-family: 'DM Serif Display', serif;
        font-size: 40px;
        font-weight: 400;
        color: white;
        margin-left: 0;
        text-align: center;
        z-index: 1;
    }
    .inferior button{
        position: absolute;
        bottom: 20px;
        right: 157px;
        width: 100px;
        height: 28px;
        font-size: 9.5px;
        font-weight: bold;
        background: transparent;
        border: 1px solid white;
        color: white;   
        z-index: 1;
    }
    footer{
        position: relative;
        width: 100vw;
        background-color: rgba(235, 235, 235, 0.301);
    }
    footer .linea3{
        width: 100%;
        position: absolute;
    }
    footer .redes{
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 50px;
        border-bottom: 1px solid rgb(133, 133, 133);
        z-index: 1;
    }
    footer .social{
        left: 30%;
        bottom: 10px;
    }
    .social img{
        margin-left: 10px;
    }
    footer .otros{
        width: 100%;
        margin: auto;
        z-index: 1;
    }
    .otros ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .otros li{
        display: flex;
        flex-direction: column;
        font-size: 9px;
        font-weight: bold;
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
        z-index: 1;
    }
    .otros p{
        margin-bottom: 30px;
        color:rgb(133, 133, 133);
    }
    .otros a{
        color: hsl(270, 9%, 17%);
        margin-bottom: 15px;
    }
}